
<!-- include dari header.ejs -->
<%- include('partials/header.ejs')  %>

<!-- include dari navbar.ejs -->
 <%- include('partials/navbar.ejs')  %>

        <h1>Home Page</h1>
        <!-- syntax interpolation ejs -->
        <h3> <%= 'Hello world'.toUpperCase()%> </h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minus ullam sed non tenetur assumenda quos, qui sapiente modi quia reprehenderit recusandae optio fugiat explicabo sit facere voluptatem asperiores dolor!</p>

<!-- include dari header.ejs -->
 <%- include('partials/footer.ejs')  %>